<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="{% static 'miapp/juani.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'miapp/css/estilosBase.css' %}">


    
         
    
    

</head>
<body class="light-mode transition">



    <!-- Navbar -->
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'portfolio' %}">Juani Ruiz</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-end">
            <a class="navbar-item" href="{% url 'portfolio' %}#sobre-mi">Sobre mí</a>
            <a class="navbar-item" href="{% url 'portfolio' %}#habilidades">Habilidades</a>
            <a class="navbar-item" href="{% url 'portfolio' %}#proyectos">Proyectos</a>
            <a class="navbar-item" href="{% url 'portfolio' %}#github">Repositorios</a>
            <a class="navbar-item" href="{% url 'portfolio' %}#contacto">Contacto</a>




            
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Más
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'portfolio' %}#certificaciones">Certificaciones</a>
                    <a class="navbar-item" href="{% url 'portfolio' %}#testimonios">Testimonios</a>
                </div>
            </div>
            <div class="navbar-item">
                <button id="mode-toggle" class="button is-light is-rounded">
                    <i class="fas fa-sun"></i>
                </button>
            </div>
        </div>
        </div>
    </nav>





    {% block content %}


      {% endblock %}








      <!-- Footer -->
        <footer class="footer">
            <div class="content has-text-centered">
                <p>&copy; 2025 Mi Portfolio. Todos los derechos reservados.</p>
                <div class="social-icons">
                    <a href="https://github.com/jiruiz" target="_blank" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/juan-ignacio-ruiz" target="_blank" class="icon">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </footer>







        

        
    <script>

        // Verifica si el mensaje de éxito está presente en la página
        {% if mensaje_exito %}
            // Si el mensaje de éxito está presente, se ejecuta el siguiente código
            setTimeout(function() {
                // Espera 60 segundos (60000 milisegundos) y oculta el mensaje
                var mensaje = document.getElementById('mensajeExito');
                if (mensaje) {
                    mensaje.style.display = 'none';
                }
            }, 6000);
        {% endif %}
  

        const toggleButton = document.getElementById('mode-toggle');
        const body = document.body;
        const icon = toggleButton.querySelector("i");

        // Cargar modo guardado en localStorage
        if (localStorage.getItem('mode') === 'dark') {
            body.classList.add('dark-mode');
            body.classList.remove('light-mode');
            icon.classList.replace("fa-sun", "fa-moon");
        } else {
            body.classList.add('light-mode');
            body.classList.remove('dark-mode');
            icon.classList.replace("fa-moon", "fa-sun");
        }

        // Alternar modo
        toggleButton.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            body.classList.toggle('light-mode');

            if (body.classList.contains('dark-mode')) {
                icon.classList.replace("fa-sun", "fa-moon");
                localStorage.setItem('mode', 'dark');
            } else {
                icon.classList.replace("fa-moon", "fa-sun");
                localStorage.setItem('mode', 'light');
            }
        });



        </script>
        <!-- Font Awesome for social icons and mode toggle -->
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </body>


    


    </html>
