{% extends 'miapp/base.html' %}
{% load static %}

{% block content %}

<section id="detalle-proyecto" class="section py-5">
    <div class="container">
        <h1 class="title text-center mb-4">{{ proyecto.nombre }}</h1>
        <a href="{{ proyecto.enlace }}" target="_blank" class="btn btn-success btn-lg mt-3 btn-github">
            Ver en GitHub
        </a>
        <h4 class="subtitle text-center mb-4">Desarrollado con {{ proyecto.tecnologias }}</h4>
        
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 mb-3 text-center position-relative">
                {% if proyecto.imagen %}
                    <img id="mainImage" src="{{ proyecto.imagen.url }}" alt="{{ proyecto.nombre }}" class="img-fluid main-image">
                {% endif %}
                
                <div class="miniaturas-container">
                    {% for imagen in imagenes %}
                        <div class="thumbnail-item" {% if forloop.counter > 6 %}style="display: none;"{% endif %}>
                            <img src="{{ imagen.imagen.url }}" alt="{{ proyecto.nombre }}" class="img-fluid mini-image" onclick="changeMainImage(this)">
                        </div>
                    {% endfor %}
                    {% if imagenes|length > 6 %}
                        <button id="verMas" class="btn btn-primary mt-3">Ver más</button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-10 text-center mt-4">
            <p><strong></strong> {{ proyecto.descripcion }}</p>
        </div>
    </div>
</section>

<script>
    function changeMainImage(image) {
        document.getElementById('mainImage').src = image.src;
        document.querySelectorAll('.mini-image').forEach(img => img.classList.remove('selected'));
        image.classList.add('selected');
    }

    document.getElementById('verMas')?.addEventListener('click', function() {
        document.querySelectorAll('.thumbnail-item').forEach(item => item.style.display = 'block');
        this.style.display = 'none';
    });
</script>

<style>
    .main-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
    
    .miniaturas-container {
        display: flex;
        justify-content: center; /* Centra las miniaturas */
        gap: 10px;
        margin-top: 15px; /* Da espacio entre la imagen principal y las miniaturas */
        overflow-x: auto; /* Permite desplazamiento horizontal si hay muchas miniaturas */
        padding: 0 15px; /* Añade un poco de espacio a los lados */
    }
    
    .thumbnail-item {
        display: inline-block;
    }
    
    .mini-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }
    
    .mini-image:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }
    
    .selected {
        border: 3px solid #007bff;
    }
    
    .btn-primary {
        background-color: #007bff;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
    }
    
    .btn-github {
        border-radius: 30px;
        padding: 10px 20px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        position: absolute;
        right: 0;
        top: 10px;
    }
    
</style>

{% endblock %}